* { 
  box-sizing: border-box; 
  } 

.layout_background{
  background-color: #282c34;
  display: flex;
  flex-direction: column;
}
header{
    background-color: #282c34;
    position:fixed;
    width: 100%;
    top: 0;
    height:10vmin;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    align-items: stretch;
  }
.header_right{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

.header_icon{
    width: 10vmin;
    cursor:pointer;
    margin-top: 5vmin;
    margin-right:2vmin;
  }
.logout_icon{
  width: 8vmin;
  cursor:pointer;
}
.input_position{
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom:10px;
  font-size: 3vmin;
}
.nav_bar{
  display: flex;
  flex-direction:column;
}
.open_nav{
  position: fixed;
  padding: 10px;
  text-align: -webkit-center;
  background-color: #282c34;
  height: 10vmin;
  width: 30vmin;
  box-shadow: 3px 3px 2px #282c3446;
}
.close_nav{
  position: fixed;
  padding: 10px;
  text-align: -webkit-center;
  background-color: #282c34;
  height: 10vmin;
  width: 10vmin;
  box-shadow: 3px 3px 2px #282c3446;
}
.open_list{
  overflow-y: auto;
  position: relative;
  height: 80vmin;
  margin-top: 10vmin;
  background-color: #282c34;
  width: 30vmin;
  box-shadow: 3px 3px 2px #282c3446;
}
.close_list{
  overflow-y: auto;
  position: relative;
  height: 80vmin;
  margin-top: 10vmin;
  background-color: #282c34;
  width: 10vmin;
  box-shadow: 3px 3px 2px #282c3446;
}
.open_logout{
  position: fixed;
  padding: 7px;
  text-align: -webkit-center;
  background-color: #a10030b6;
  height: 10vmin;
  width: 30vmin;
  font-weight: bolder;
  box-shadow: 3px 3px 2px #282c3446;
  margin-top: 80vmin;
}
.close_logout{
  position: fixed;
  padding: 7px;
  text-align: -webkit-center;
  background-color: #a10030b6;
  height: 10vmin;
  width: 10vmin;
  box-shadow: 3px 3px 2px #282c3446;
  margin-top: 80vmin;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #50b3ce; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #61dafb;
}

.arrow{
  width: 5vmin;
}
.navList {
  color: white;
  flex-wrap: nowrap;
  list-style: none;
  height: auto;
  width: 100%;
  place-content: center;
}
.list{
  margin-top:10vmax;
}
.title{
  position: relative;
  cursor:pointer;
  padding: 4vmin;
  text-align-last: center;
}
.title_hover{
  text-align: center;
  padding: 4vmin;
  width: -webkit-fill-available;
  background-color: #61dafb3a;
  border-right: 2px solid #61dafb;
  position: relative;
  cursor:pointer;
}

.content{
  /*padding: 20px;*/
  width: 100%;
}
.body_layout{
  margin-top: 10vmin;
  display: flex;
  flex-wrap: nowrap;
  background-color: cadetblue;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .open_nav {
    animation: open-nav 0.3s linear ;
  }
  .open_list{
    animation: open-nav 0.3s linear ;
  }
  .open_logout{
    animation: open-nav 0.3s linear ;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .close_nav {
    animation: close-nav 0.2s linear ;
  }
  .close_list{
    animation: close-nav 0.2s linear ;
  }
  .close_logout{
    animation: close-nav 0.2s linear ;
  }
}

@keyframes open-nav {
  from {width:10vmin;}
  to {width: 30vmin;}
}

@keyframes close-nav {
  from {width: 30vmin;}
  to {width: 10vmin;}
}