._overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(187, 187, 187, 0);
}
.hide_drawer{
  display: none;
}
.open_Cdrawer {
    position: fixed;
    height: 100%;
    top:10vmin;
    right: 0;
    bottom: 0;
    background-color: #282c34e5;
    width: 60%;
    color: aliceblue;
    text-align: -webkit-center;
    font-size: calc(10px + 2vmin);
  }
  .close_Cdrawer{
    position: fixed;
    top:10vmin;
    right: 0;
    bottom: 0;
    background-color: #282c3475;
    width: 0%;
    color: aliceblue;
    text-align: -webkit-center;
    font-size: calc(10px + 2vmin);
  }

  @media (prefers-reduced-motion: no-preference) {
    .open_Cdrawer {
      animation: drawer-in 0.2s linear ;
    }
  }

  @keyframes drawer-in {
    from {width: 0%;}
    to {width: 60%;}
  }
