.header{
    display: flex;
    background-color: #282c34;
    height: 10vmin;
    place-content: space-between;
}


.input_drawer{
    position: fixed;
    width: 100%;
    height:8vh;
    background-color:blue;
}

.list_drawer{
    position: absolute;
    overflow:auto;
    width:100%;
    height:77vh;
    margin-top: 8vh;
    flex-direction: column;
}

.logout_drawer{
    position: fixed;
    margin-top: 85vh;
    height: 100%;
    width: 100%;
    background-color:burlywood;
}

.navList_V {
    display: flex;
    height: 10vmin;
    flex-wrap: nowrap;
    list-style: none;
    cursor: pointer;
    color: aliceblue;
    margin-top: auto;
    transition-duration: 1s;
  }
  .title{
    width: -webkit-fill-available;
    height:10vmin;
  }
  .title_hover{
    height:10vmin;
    background-color: #61dafb63;
    width: -webkit-fill-available;
    border-left: 3px solid #61dafb;
  }

  .hamburger{
    margin-right: 2vmin;
    margin-top: 3vmin;
    height: 5vmin;
  }

.user_icon_V{
    width: 10vmin;
    cursor:pointer;
    margin-top: 5vmin;
    margin-left:5px;
  }
  .user_name{
    color:rgb(120, 199, 202);
    width:10%;
    padding: 2vmin 2vmin;
    white-space: nowrap; 
    float: left;
    text-overflow: ellipsis; 
    margin-top: auto;
    text-align-last: end;
  }
  [data-text] {
    color:rgb(120, 199, 202);
  }
  [data-text]::after {
    content: attr(data-text);
  }
  .user_name_V{
    text-align: center;
    color:rgb(120, 199, 202);
    width:50%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    margin-top: 2vmin;
  }