table {
    margin-top: 5px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
   th {
    background-color: #282c34;
    color: #fff;
    text-align: left;
    padding: 8px;
  }
  td{
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #282c34f1;
    color: #fff;
  }
.table_layout{    overflow-y: auto;
  padding: 10px;
}