* {
  box-sizing: border-box;
}
.layout_background{
  color: rgb(255, 255, 255);
}

.logo {
    height: 10vmin;
    pointer-events: none;
    margin-top:0px;
    margin-right: auto;
  }
  @media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .arrow{
    height: 6vmin;
    cursor: pointer;
  }
  .logo_V {
    position:sticky;
    height: 10vmin;
    pointer-events: none;
    margin-top:0px;
    width: 100%;
    margin: auto;
  }
  @media (prefers-reduced-motion: no-preference) {
    .logo_V {
      animation: logo-spin infinite 20s linear;
    }
  }
  .V_background{
    height:10vmin;
    background-color: #282c34;
  }
  .left_content{
    height: 100%;
    display: table;
    float: left;
    clear: both;
  }